body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    overflow: hidden;
    position: relative;
}

header img.logo {
    max-width: 80px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header i {
    margin-right: 10px;
}

nav {
    background-color: #444;
    color: white;
    padding: 0.5em 0;
    border-bottom: 2px solid #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section.hero {
    background-image: url('https://via.placeholder.com/1500x600'); /* Substitua pela URL da sua imagem de fundo */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

section.post-form {
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

section.post-form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #333;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

section.posts {
    margin: 20px 0;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
